@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

:root {
  --black: #212121;
  --green: #00600f;
  --blue: #faf0e6;
  --purple: #faf0e6;
  --orange: #faf0e6;
  --primary: #121212;
  --light: #2c2c2c;
  --dark: #000000;
  --rarity-1: 200, 200, 200;
  --rarity-2: 7, 192, 47;
  --rarity-3: 0, 203, 233;
  --rarity-4: 255, 22, 247;
  --rarity-5: 255, 135, 23;
}

/*.card-1 {*/
/*  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
/*  transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
/*}*/

/*.card-1:hover {*/
/*  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
/*}*/

.light-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.h6 {
  font-family: 'Roboto Mono';
  font-weight: bold;
}

.basic-nav-dropdown {
  width: "250px";
  background-color: "var(--primary)";
}

/* Common Items */
.item-bg-1 {
  border: 1px solid rgba(255,255,255,.5);
  background: linear-gradient(360deg,rgba(var(--rarity-1),.25) 0,rgba(0,0,0,.5) 100%)
}

/* Uncommon Items */
.item-bg-2 {
  border: 1px solid var(--rarity-2);
  background: linear-gradient(360deg,rgba(var(--rarity-2),.25) 0,rgba(0,0,0,.5) 100%)
}

/* Rare Items */
.item-bg-3 {
  border: 1px solid var(--rarity-3);
  background: linear-gradient(360deg,rgba(var(--rarity-3),.25) 0,rgba(0,0,0,.5) 100%)
}

/* Epic Items */
.item-bg-4 {
   border: 1px solid var(--rarity-4);
  background: linear-gradient(360deg,rgba(var(--rarity-4),.25) 0,rgba(0,0,0,.5) 100%)
}

/* Legendary Items */
.item-bg-5 {
   border: 1px solid var(--rarity-5);
  background: linear-gradient(360deg,rgba(var(--rarity-5),.25) 0,rgba(0,0,0,.5) 100%)
}

div.dropdown-menu.show {
  background-color: var(--dark);
}

a.dropdown-item {
  color: white;
}

#dropdown-row {
  background-color: var(--primary);
}

#dropdown-row:hover, #dropdown-row:focus {
  background-color: var(--light);
}